*.dump-hi
*.pem
.dir-locals.el
dist
dist-*
cabal-dev
ctags
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
stack.yaml.lock
trans.yaml
cabal.project.local
.HTF/
tags
**/TAGS
codex.tags
result
result-*
.ghc.environment.*
.ghci
*~
\#*
.stylish-haskell.yaml
public
log
report.html
.hlint.yaml
hlint.hs
*.svg
*.png
*.graphml
cache/
*.dump-hi
standalonedbs/
TAGS
*.hie
.DS_Store
.vscode/*
.ghci_history
.direnv/
.envrc
