# This is small check to confirm that the shell's limits for opening file
# descriptors is sufficiently high. This is relevant for our property tests, in
# which some tests rapidly create and destroy HTTP servers.
ulimit-linux:
  tags:
    - linux
  script:
    - ulimit -Hn
    - ulimit -Sn

ulimit-macos:
  tags:
    - macos
  script:
    - ulimit -Hn
    - ulimit -Sn

nix-macos:
  tags:
    - macos
  script:
    - nix-build
    - nix-build -A ghc.chainweb.doc
    - scripts/collectArtifacts.sh
  artifacts:
    paths:
    - public/
    expire_in: 1 week

nix-shell-macos:
  tags:
    - macos
  script:
    - nix-shell --run "echo Done with shell test"

nix-linux:
  tags:
    - linux
  script:
    - nix-build --option extra-sandbox-paths '/etc/protocols /etc/services'
    - nix-build --option extra-sandbox-paths '/etc/protocols /etc/services' -A ghc.chainweb.doc
    - scripts/collectArtifacts.sh
  artifacts:
    paths:
    - public/
    expire_in: 1 week

nix-shell-linux:
  tags:
    - linux
  script:
    - nix-shell --run "echo Done with shell test"

# 2019 Feb 11 - This is bottlenecking CI quite severely.
# stack:
#   tags:
#     - macos
#   script:
#     - nix-shell --pure -p stack libiconv zlib ncurses gmp git perl darwin.security_tool --run "stack test --fast"

pages:
  stage: deploy
  script:
  - echo 'Nothing to do...'
  artifacts:
    paths:
    - public/

##############################################################################
# Nightly jobs
##############################################################################

nightly-nix:
  only:
    - schedules
  script:
    - echo This is a nightly build!
    - nix-build --option extra-sandbox-paths '/etc/protocols /etc/services'
    - nix-build --option extra-sandbox-paths '/etc/protocols /etc/services' -A ghc.chainweb.doc
    - scripts/collectArtifacts.sh

