constraints: Boolean ==0.2.4,
             Cabal ==2.4.0.1,
             Decimal ==0.5.1,
             FloatingHex ==0.4,
             Glob ==0.9.3,
             HUnit ==1.6.0.0,
             MemoTrie ==0.6.9,
             NumInstances ==1.4,
             Only ==0.1,
             QuickCheck ==2.12.6.1,
             QuickCheck-GenT ==0.2.0,
             StateVar ==1.1.1.1,
             abstract-deque ==0.3,
             abstract-par ==0.3.3,
             adjunctions ==4.4,
             aeson ==1.4.5.0,
             aeson-pretty ==0.8.7,
             algebraic-graphs ==0.3,
             ansi-terminal ==0.8.2,
             ansi-wl-pprint ==0.6.8.2,
             appar ==0.1.7,
             array ==0.5.3.0,
             asn1-encoding ==0.9.5,
             asn1-parse ==0.9.4,
             asn1-types ==0.3.2,
             assoc ==1,
             async ==2.2.1,
             atomic-primops ==0.8.2,
             attoparsec ==0.13.2.2,
             attoparsec-iso8601 ==1.0.1.0,
             auto-update ==0.1.4.1,
             base ==4.12.0.0,
             base-compat ==0.10.5,
             base-compat-batteries ==0.10.5,
             base-orphans ==0.8.1,
             base-prelude ==1.3,
             base-unicode-symbols ==0.2.3,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.2,
             basement ==0.0.10,
             bifunctors ==5.5.3,
             binary ==0.8.6.0,
             blaze-builder ==0.4.1.0,
             blaze-html ==0.9.1.1,
             blaze-markup ==0.8.2.2,
             bloomfilter ==2.0.1.0,
             bound ==2.0.1,
             bsb-http-chunked ==0.0.0.4,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytes ==0.15.5,
             bytestring ==0.10.8.2,
             bytestring-builder ==0.10.8.2.0,
             cache ==0.1.1.1,
             call-stack ==0.1.0,
             case-insensitive ==1.2.0.11,
             cassava ==0.5.1.0,
             cereal ==0.5.8.0,
             chainweb-storage ==0.1.0.0,
             charset ==0.3.7.1,
             clock ==0.7.2,
             code-page ==0.2,
             colour ==2.3.4,
             comonad ==5.0.4,
             conduit ==1.3.1.1,
             conduit-combinators ==1.3.0,
             configuration-tools ==0.4.1,
             connection ==0.2.8,
             constraints ==0.10.1,
             containers ==0.6.0.1,
             contravariant ==1.5,
             cookie ==0.4.4,
             crackNum ==2.3,
             criterion ==1.5.4.0,
             criterion-measurement ==0.1.1.0,
             crypto-api ==0.13.3,
             cryptohash-md5 ==0.11.100.1,
             cryptohash-sha1 ==0.11.100.1,
             cryptonite ==0.25,
             data-bword ==0.1.0.1,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             data-dword ==0.3.1.2,
             dec ==0.0.3,
             deepseq ==1.4.4.0,
             dense-linear-algebra ==0.1.0.0,
             deriving-compat ==0.5.4,
             digraph ==0.1.0.2,
             direct-sqlite ==2.3.24,
             directory ==1.3.3.0,
             distributive ==0.6,
             dlist ==0.8.0.5,
             easy-file ==0.2.2,
             ed25519-donna ==0.1.1,
             enclosed-exceptions ==1.0.3,
             entropy ==0.4.1.4,
             erf ==2.0.0.0,
             errors ==2.3.0,
             exceptions ==0.10.0,
             extra ==1.6.14,
             fake ==0.1.1.2,
             fast-logger ==2.4.13,
             file-embed ==0.0.11,
             filepath ==1.4.2.1,
             fingertree ==0.1.4.2,
             formatting ==6.3.7,
             free ==5.1,
             generic-deriving ==1.12.3,
             generic-lens ==1.2.0.1,
             generics-sop ==0.4.0.1,
             ghc ==8.6.5,
             ghc-boot ==8.6.5,
             ghc-boot-th ==8.6.5,
             ghc-heap ==8.6.5,
             ghc-prim ==0.5.3,
             ghci ==8.6.5,
             hashable ==1.2.7.0,
             haskeline ==0.7.4.3,
             heaps ==0.3.6.1,
             hourglass ==0.2.12,
             hpc ==0.6.0.3,
             hspec ==2.6.1,
             hspec-core ==2.6.1,
             hspec-discover ==2.6.1,
             hspec-expectations ==0.8.2,
             http-api-data ==0.4.1,
             http-client ==0.5.14,
             http-client-tls ==0.3.5.3,
             http-date ==0.0.8,
             http-media ==0.7.1.3,
             http-types ==0.12.3,
             http2 ==1.6.4,
             insert-ordered-containers ==0.2.2,
             integer-gmp ==1.0.2.0,
             integer-logarithms ==1.0.2.2,
             invariant ==0.5.1,
             iproute ==1.7.7,
             ixset-typed ==0.4.0.1,
             js-flot ==0.8.3,
             js-jquery ==3.3.1,
             kan-extensions ==5.2,
             lens ==4.17,
             lens-aeson ==1.0.2,
             libyaml ==0.1.1.0,
             lifted-async ==0.10.0.3,
             lifted-base ==0.2.3.12,
             loglevel ==0.1.0.0,
             managed ==1.0.6,
             massiv ==0.4.2.0,
             math-functions ==0.3.1.0,
             megaparsec ==7.0.5,
             memory ==0.14.18,
             merkle-log ==0.1.0.0,
             microlens ==0.4.10,
             microstache ==1.0.1.1,
             mime-types ==0.1.0.9,
             mmorph ==1.1.2,
             monad-control ==1.0.2.3,
             monad-par ==0.3.4.8,
             monad-par-extras ==0.3.3,
             mono-traversable ==1.0.11.0,
             mtl ==2.2.2,
             mwc-probability ==2.0.4,
             mwc-random ==0.14.0.0,
             neat-interpolation ==0.3.2.4,
             network ==2.8.0.0,
             network-byte-order ==0.0.0.0,
             network-info ==0.2.0.10,
             network-uri ==2.6.1.0,
             newtype-generics ==0.5.3,
             nonempty-containers ==0.3.1.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             optparse-applicative ==0.14.3.0,
             pact ==3.3.0,
             parallel ==3.2.2.0,
             parsec ==3.1.13.0,
             parser-combinators ==1.0.1,
             parsers ==0.12.9,
             paths ==0.2.0.0,
             pcg-random ==0.1.3.5,
             pem ==0.2.4,
             pretty ==1.1.3.6,
             pretty-simple ==2.2.0.1,
             prettyprinter ==1.2.1,
             prettyprinter-ansi-terminal ==1.1.1.2,
             primitive ==0.6.4.0,
             process ==1.6.5.0,
             profunctors ==5.3,
             psqueues ==0.2.7.1,
             quickcheck-instances ==0.3.19,
             quickcheck-io ==0.2.0,
             random ==1.1,
             random-bytestring ==0.1.3.1,
             reducers ==3.12.3,
             reflection ==2.1.4,
             resourcet ==1.2.2,
             retry ==0.7.7.0,
             rio ==0.1.8.0,
             rocksdb-haskell ==1.0.1,
             rts ==1.0,
             safe ==0.3.17,
             safe-exceptions ==0.1.7.0,
             safecopy ==0.9.4.3,
             safeio ==0.0.5.0,
             sbv ==8.2,
             scheduler ==1.4.2.1,
             scientific ==0.3.6.2,
             semialign ==1,
             semigroupoids ==5.3.2,
             semigroups ==0.18.5,
             servant ==0.16,
             servant-client ==0.16.0.1,
             servant-client-core ==0.16,
             servant-server ==0.16,
             servant-swagger ==1.1.7.1,
             setenv ==0.1.1.3,
             shelly ==1.8.0,
             simple-sendfile ==0.2.28,
             singleton-bool ==0.1.5,
             socks ==0.5.6,
             sop-core ==0.4.0.0,
             split ==0.2.3.3,
             statistics ==0.15.0.0,
             stm ==2.5.0.0,
             stm-chans ==3.0.0.4,
             stopwatch ==0.1.0.5,
             streaming ==0.2.2.0,
             streaming-attoparsec ==1.0.0,
             streaming-bytestring ==0.1.6,
             streaming-commons ==0.2.1.0,
             streaming-events ==1.0.0,
             strict-concurrency ==0.2.4.3,
             strict-tuple ==0.1.3,
             string-conv ==0.1.2,
             string-conversions ==0.4.0.1,
             swagger2 ==2.4,
             syb ==0.7,
             system-fileio ==0.3.16.4,
             system-filepath ==0.4.14,
             tagged ==0.8.6,
             tasty ==1.2,
             tasty-golden ==2.3.2,
             tasty-hunit ==0.10.0.1,
             tasty-quickcheck ==0.10,
             template-haskell ==2.14.0.0,
             temporary ==1.3,
             terminfo ==0.4.1.2,
             text ==1.2.3.1,
             text-short ==0.1.2,
             tf-random ==0.5,
             th-abstraction ==0.2.11.0,
             these ==1.0.1,
             thyme ==0.3.6.0,
             time ==1.8.0.2,
             time-compat ==1.9.2.2,
             tls ==1.5.2,
             tls-session-manager ==0.0.0.2,
             token-bucket ==0.1.0.1,
             transformers ==0.5.6.2,
             transformers-base ==0.4.5.2,
             transformers-compat ==0.6.2,
             trifecta ==2.1,
             typed-process ==0.2.4.0,
             unbounded-delays ==0.1.1.0,
             unix ==2.7.2.2,
             unix-compat ==0.5.1,
             unix-time ==0.4.5,
             unliftio ==0.2.10,
             unliftio-core ==0.1.2.0,
             unordered-containers ==0.2.10.0,
             utf8-string ==1.0.1.1,
             uuid ==1.3.13,
             uuid-types ==1.0.3,
             vault ==0.3.1.2,
             vector ==0.12.0.2,
             vector-algorithms ==0.8.0.1,
             vector-binary-instances ==0.2.5.1,
             vector-space ==0.15,
             vector-th-unbox ==0.2.1.6,
             void ==0.7.2,
             wai ==3.2.2,
             wai-app-static ==3.1.6.3,
             wai-cors ==0.2.6,
             wai-extra ==3.0.25,
             wai-logger ==2.3.4,
             wai-middleware-throttle ==0.3.0.0,
             warp ==3.2.26,
             warp-tls ==3.2.8,
             wcwidth ==0.0.2,
             witherable ==0.3,
             word8 ==0.1.3,
             x509 ==1.7.5,
             x509-store ==1.6.7,
             x509-system ==1.6.6,
             x509-validation ==1.6.11,
             xmlgen ==0.6.2.2,
             yaml ==0.11.0.0,
             yet-another-logger ==0.3.1,
             zlib ==0.6.2
